:root {
    --main-color: #10689b;
    --main-font-color: white;
    --main-color-lighten: #6fb2da;

    --spacing-sm: 5px;
    --spacing-md: 10px;
    --spacing-lg: 20px;

    --font-size: 16px;
    --font-color: #111;
}

#presentation {
    display: flex;
    flex-direction: column;

    font-size: var(--font-size);
    color: var(--font-color);
}

#picture {
    align-self: center;
}

p {
    margin: 1.25em;
}

a {
    color: var(--main-color);
}
